body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  color: darkorange;
}

.joke-container {
  border: 3px solid darkorange;
  border-radius: 20px;
  width: 400px;
  padding: 20px;
  margin: 0 auto;
}
.app-button {
  background-color: darkorange;
  color: white;
  border: none;
  border-radius: 20px;
  border: 2px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;
  font-weight: bold;
}

.app-button:hover {
  background-color: white;
  color: darkorange;
  border: 2px solid darkorange;
}

.app-button:active {
  color: white;
  background-color: darkorange;
  border: 2px solid white;
}

.joke-actions {
  display: flex;
  justify-content: left;
  gap: 10px;
  align-items: center;
}

.heart-icon {
  cursor: pointer;
}

.heart-icon:active {
  transform: scale(1.1);
}

.like-container {
  display: flex;
  align-items: center;
  color: rgb(208, 11, 11);
}
